*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #414141;
    text-rendering: optimizeLegibility
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    transform: translate(-50%,-50%)
}

h1,h2,h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    
}

h1{
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2{
    
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
}
h3{
    font-size: 110%;
    margin-bottom: 10px;
}
h2:after{
    height: 2px;
    background-color: #b77100;
    display: block;
    content: "";
    width: 100px;
    margin: 0 auto;
     margin-top: 30px;
}

a:link,
a:visited{
    text-decoration: none;
    color: #b77100;
    padding-bottom: 1px;
    border-bottom: 1px solid #b77100;
    transition: color 0.2s, border-bottom 0.2s;
}

a:hover,
a:active{
    color: #414141;
    border-bottom: 1px solid transparent;
}

.btn:link,
.btn:visited,
input[type="submit"]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color 0.2s,color 0.2s,border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"]{
    background-color: #b77100;
    border: 1px solid #b77100;
    color: #fff;
}

.btn-border:link,
.btn-border:visited{
    border: 1px solid #b77100;
    color: #b77100;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active{
    background-color: #965d00;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #965d00;
}
.btn-border:hover,
.btn-border:active{
    color: #fff;
    border: 1px solid #965d00;
}

.logo-white{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #b77100;
}

section{
    padding: 80px 0;
}

.feature-text{
    width: 70%;
    margin-left: 15%;
    line-height: 145%;
}

.box{
    padding: 1%;
}

.box p{
    font-size: 90%;
    text-align: justify;
    line-height: 145%;
}

.icon-big{
    display: inline-block;
    color: #b77100;
    font-size: 350%;
    margin-bottom: 10px;
    
}

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    width: 25%;
    float: left;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s,opacity 0.5s;
}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1);
}

.phone-image{
    width: 40%;
}

.btn-img img{
    height: 50px;
    width: auto;
}

.btn-img:link,
.btn-img:visited{
    border: 0;
}

.step-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box:last-child{
    padding-left: 3%;
    margin-top: 50px;
}

.work-steps{
    margin-bottom: 50px;
}

.work-steps div{
    color: #b77100;
    border: 2px solid #b77100;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 150%;
    text-align: center;
    padding: 5px;
    float: left;
    margin-right: 10px;
}

.work-steps:last-of-type{
    margin-bottom: 90px;
}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.section-works{
    background-color: #f0f0f0;
}

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-features{
    margin-bottom: 5px;
}

.icon-small{
    color: #b77100;
    display: inline-block;
    width: 30px;
    font-size: 120%;
    vertical-align: middle;
}

.section-testimonials{
    background-image:linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote{
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before{
    content: "\201C";
    font-size: 450%;
    display: block;
    position: absolute;
    top: 5px;
    left: -10px;
}

cite{
    display: block;
    font-size: 90%;
    margin-top: 20px;
}
cite img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.section-plans{
    background-color: #f0f0f0;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 5px 5px 5px #b4b4b4;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #d1d1d1;
}

.meal-month{
    font-size: 300%;
    color: #b77100;
    font-weight: 100;
    margin-bottom: 5px;
}

.meal-month span{
    font-size: 30%;
    font-weight: 300;
}

.meal-daily{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px;
}

.plan-box div:first-child{
    background-color: #f8f8f8;
}

.plan-box div:last-child{
    text-align: center;
    border-bottom: 0;
}

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #dedede;
}

textarea{
    height: 100px;

}

*:focus{outline: none}

footer{
    background-color: #393939;
    padding: 50px;
}

.footer-navs{
    list-style: none;
    float: left;
}

.social-navs{
    list-style: none;
    float: right;
}

.footer-navs li,
.social-navs li{
    display: inline-block;
    margin-right: 20px;
}

.footer-navs li a:link,
.footer-navs li a:visited,
.social-navs li a:link,
.social-navs li a:visited{
    text-decoration: none;
    color: #a3a3a3;
    border: 0;
}

.footer-navs li a:hover,
.footer-navs li a:active{
    color: #f2f2f2;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    font-size: 150%;
}

.ion-social-facebook:hover,
.ion-social-facebook:active{
    color: #3b5998;
}

.ion-social-twitter:hover,
.ion-social-twitter:active{
    color: #00acee;
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active{
    color: #db4a39;
}

.ion-social-instagram:hover,
.ion-social-instagram:active{
    color: #feda75
}

footer p{
    color: #a3a3a3;
    text-align: center;
    margin-top: 20px;
    font-size: 80%;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 1px 2px #d1d1d1;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #414141;
    padding: 18px 0;
    
}

.sticky .logo-white{
    display: none;
}

.sticky .logo-black{
    display: block;
}

.sticky .main-nav{
    margin-top: 15px;
}

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-4{
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}